<%- include("partials/header") -%>

  <h1 class="aboutHeader">About us</h1>
  <div class="container aboutus">
    <p class="aboutContent"><%- aboutContent %></p>
  </div>

<%- include("partials/footer") -%>