<%- include("partials/header")-%>


  <h1 class="contactHeader">Contact</h1>
  <br>
  <div class="container contacts">
    <p class="contactContent"><%- contactContent %></p><br>
  </div>
  <br><br>
  <div class="container contacts">
    <a aria-label="Chat on WhatsApp" href="https://wa.me/0524425986"> <img id="contacts" alt="Chat on WhatsApp" src="images\whatsapp.png" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a aria-label="Chat on Gmail" href="mailto: levingm2@gmail.com"> <img id="contacts" alt="Chat on Gmail" src="images\gmail.png" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a aria-label="Chat on Facebook" href="https://www.facebook.com/levintomer/"> <img id="contacts" alt="Chat on Faceook" src="images\facebook.png" /></a>
  </div>
  
  
<%- include("partials/footer")-%>