<%- include("partials/header")-%>

<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
        <a type="button" class="btn-close" href="/" aria-label="Close"></a>
      </div>

      <div class="modal-body p-5 pt-0" id="signupBody">
        <form class="signUpform" action="/signup" method="post">
          <div class="form-floating mb-3">
            <input type="fname" class="form-control rounded-3" id="floatingInput" oninput="this.value = this.value.replace(/[^A-Za-z0-9]/, '')" placeholder="Full name" name="fullName" required>
            <label for="floatingInput">Full name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingEInput" oninput="this.value = this.value.replace(/[^A-Za-z0-9@.]/, '')" placeholder="name@example.com" name="signupEmail" required>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" oninput="this.value = this.value.replace(/[^A-Za-z0-9/]/, '')" placeholder="Password" name="password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingCPassword" oninput="this.value = this.value.replace(/[^A-Za-z0-9/]/, '')" placeholder="Confirm password" name="cPassword" required>
            <label for="floatingCPassword">Confirm password</label>
          </div>
          <message class="errorSignUp hidden" id="error"><%= message %></message>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" id="signUpBtn" type="submit">Sign up</button>
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer")-%>