<%- include("partials/header")-%>

<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign in for free</h1>
        <a type="button" class="btn-close" href="/" aria-label="Close"></a>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="signInform" action="/signin" method="post">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" name="signinEmail" oninput="this.value = this.value.replace(/[^A-Za-z0-9@.]/, '')" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" name="password" oninput="this.value = this.value.replace(/[^A-Za-z0-9/]/, '')" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
          </div>
          <message class="errorSignIn hidden" id="error"> <%= message %> </message>
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" id="signinBtn" type="submit">Sign in</button>
          <small class="text-muted">By clicking Sign in, you agree to the terms of use.</small><br>
          <small class="text-muted">Or click here to <a href="signup">SignUp</a> .</small>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer")-%>