* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: rgb(244,241,241);
    background: linear-gradient(18deg, rgba(244,241,241,0.9697128851540616) 16%, rgba(208,255,255,1) 30%, rgba(130,200,200,0.8184523809523809) 42%, rgba(109,182,182,1) 48%, rgba(159,250,250,1) 57%, rgba(93,217,217,1) 77%, rgba(244,241,241,0.9697128851540616) 88%);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;  
}

h1 {
    color : rgb(30, 31, 30);
    opacity: 0.9;
    font-family: 'Outfit', sans-serif;
    font-weight: 600; 
    margin-top: 1em;
    margin-bottom: 0.8em;
}


.globalPosts {
    color: black;
    margin-top: 2em;
}


.GlobalpostsTitle {
    float: left;
    display: inline;
    margin-right: 5em;
}

.GlobalpostsTitle::first-letter {
    text-transform: capitalize;
}

.GlobalpostsContent {
    text-align: left;
    margin-bottom: 1em;
}

.readmore {
    float: left;
}

.globalTime {
    text-align: right;
    width: 100%;
}

.post {
    color: black;
    margin-bottom: 1em;
    white-space: pre-wrap;

}

.postTitle {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.postContent {
    width: 70%;
    font-size: 1.1rem;
}

.ahutorName {
    color: black;
    text-decoration: none;
    float: right;
    width: 70%;
}

.homeTitle {
    display: inline;
}

.topHome {
    margin-top: 1em;
}

/* Contact & About///////////////////////// */

.MypostsTitle {
    text-align: left;
}

.contactHeader, .aboutHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts, .aboutus {
    color: black;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContent, .contactContent {
    font-weight: lighter;
}


#contacts {
    height: 35px;
    width: 35px;
    margin-right: 1em;
}

/* ///////////////////////// */

.container {
    flex: 1;
    overflow-y: auto;
}


/* Nav Bar style */

.nav-link {
    font-weight: lighter;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0, 0, 0, 0;
    margin-left: 3em;
    cursor: pointer;
}


.navbar {
    background: rgb(244,241,241);
    background: linear-gradient(18deg, rgba(244,241,241,0.9697128851540616) 16%, rgba(103,129,129,1) 30%, rgba(40,45,45,0.8184523809523809) 42%, rgb(80, 110, 110) 48%, rgba(25,41,41,1) 57%, rgb(50, 83, 83) 77%, rgba(95, 95, 95, 0.97) 88%);
    opacity: 0.9;
}

.navbar {
    padding: 0 0;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    font-size: 0.75em;
    letter-spacing: 3.5px;
}

.navbar-nav  li a:hover {
    color: rgb(51, 189, 224) !important;
}

.container-fluid {
    padding-left: 2em;
    padding-right: 2em;
}

/* Footer///////////////////////// */


.footer {
    text-align: center;
}

.footer p {
	margin-top: 25px;
	font-size: 14px;
    color: black;
}

/* Compose///////////////////////// */

#composeTitle, #composeBody{
    color: rgb(0, 0, 0);
    width: 50%;
    padding: 3px 8px;
    font-size: 15px;
    border-radius: 5px;
    border-width: thin;
}

#p, #t, #gl, #pr {
    margin-top: 5px;
    color: black;
}

#private, #announcement {
    margin-bottom: 1.1em;
    margin-left: 0.1em;
}

/* ///////////////////////// */

/* Signin & Signup Modal */

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.fw-bold {
    color: black;
}

#signinBtn {
    margin-top: 1em;
}

#signUpBtn {
    margin-top: 1em;
}

.logged {
    text-decoration: underline;
    color: white;
}

.loggedin {
    margin-left: 1.6em;
    margin-top: 0.7em;
}

#error {
    color: red;
    font-family: New Century Schoolbook, serif;
    font-style: oblique;
    text-decoration: underline;
    font-weight: bolder;
}


/* -------------------------- */

/* Windows div modal */

.postWindows {
    font-family: sans-serif;
    color: #333;
    overflow-x: hidden;
    padding-left: 0.60em;
      
}

  
/* CLASSES TO MAKE MODAL WORK */
.hidden {
    display: none;
  }
  
.openWindow {
    margin-top: 2em;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 50vh;
    width: 50%;
    background: linear-gradient(#5fcde0, #faf9e9);
    opacity: 0.9;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(228, 220, 220, 0.3);
    z-index: 10;
}

.openWindow h4 {
    text-align: center;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(84, 81, 81, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

.close-modal {
    color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.7;
    top: 0rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
}

/* NOTES WINDOWS///////////////////////// */
.box {
    text-align: center;
    display: inline;
    border-radius: 0.5em;
    opacity: 0.98;
    overflow: hidden;
    margin: 2rem 1.5rem 0 0;
    background-color: #d8d3d3;
    color: rgb(31, 30, 30);
    cursor: pointer;
    height: 35vh;
    width: 14em;
}

.box:hover {
    opacity: 0.6;
}

.boxTitle {
    margin-top: 2.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}


.boxDate {
    font-size: 0.90rem;
    text-align: center;
}

/* -------------------------- */

/* Compose btn///////////////////////// */

.composeBtn {
    height: 36px;
    width: 80px;
    border-radius: 1em;
    border-width: 0.1em;
    border-color: white;
    color: white;
    background-color: black;
    box-shadow: inset 0 0 0 0 rgb(83, 82, 82);
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}

.composeBtn:hover {
    color: black;
    border-color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 200px 0 0 0 #f7f7f7;
}

/* Add post btn///////////////////////// */
.btn-circle.btn-xl {
    background-color:  rgb(54, 50, 50);
    color: white;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    padding: 0;
    border-radius: 1em;
    border-width: 0.07em;
    border-color: white;
    font-size: 35px;
    line-height: 0px;
    box-shadow: inset 0 0 0 0 rgb(83, 82, 82);
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}

.newCompose {
    float: right;
}

.btn-circle.btn-xl:hover {
    border-color: #0a0a0a;
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 200px 0 0 0 #f1f1ed;
}

/* sreach bar and btn */

#searchBtn {
    background-color: rgb(54, 50, 50);
    border-radius: 1em;
    border-width: 0.1em;
    color:white;
    border-color: white;
    box-shadow: inset 0 0 0 0 rgb(83, 82, 82);
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}

#searchBtn:hover {
    color: black;
    border-color: black;
    background-color: rgb(117, 115, 115);
    box-shadow: inset 200px 0 0 0 #f1f1ed;
}

.searchPost {
    width: 30%;
    float: right;
}

.errorSearch {
    font-size: 1.2em;
    float: right;
    margin-right: 11em;
}

.inputBox {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border-width: 0.1em;
    border-color: black;
}